<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <ion-icon name="logo-freebsd-devil"></ion-icon>
    </button>
    <ion-title>Gustavo Lindo</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <ion-item color="dark">
    <ion-label>
      <h1>
        <ion-icon name="paper-plane"></ion-icon>
        Bem vindo ao meu site
      </h1>
      <h2>Site de aviões</h2>
    </ion-label>
  </ion-item>

  <ion-chip>
    <ion-avatar>
      <img src="https://imgcdn.portalt5.com.br/RfyAVutQccwOC4r4kyhsH-jgMAs=/400x266/smart/filters:strip_icc()/s3.portalt5.com.br/imagens/Aviao.jpg">
    </ion-avatar>
  </ion-chip>

  <b><h1>Bem vindo ao site do Diabinho<ion-icon name="logo-freebsd-devil"></ion-icon></h1></b>

  <h3>
   Nesse site é possivel você achar os melhores voos<ion-icon name="airplane"></ion-icon>
  </h3>
    <ion-avatar>
      <img src= "https://www.tnh1.com.br/fileadmin/_processed_/f/d/csm_aviao-ilustracao_37cf0f6f17.png">
    </ion-avatar> 
  <p>
  Aqui você recebe tudo em tempo real, graças a nossa tecnologia moderna, é possivel ver exatamente o momento em que o avião esta saindo e chegando!
  </p>
  <h2>BASTA CLICAR NO BOTÂO MENU PARA MAIS INFORMAÇÕES!!</h2>
  <p>
    
    <button ion-button color="dark" menuToggle>Butão do menu</button>
    <ion-thumbnail>
    <img src= "https://st2.depositphotos.com/5398292/9941/v/950/depositphotos_99419214-stock-illustration-airplanes-map-with-routes.jpg">
    </ion-thumbnail>
</ion-content>
